.recharts-bar .recharts-bar-rectangle .recharts-rectangle:hover {
    fill: #112A42;
}

.bar {
    display: flex;
    justify-content: space-around;
    font-family: "Roboto";
    padding-top: 50px;
}